<div class="footer-container">
    <img src="../../assets/bg-footer-top-mobile.svg" alt="" class="mobile">
    <img src="../../assets/bg-footer-top-desktop.svg" alt="" class="desktop">
    <div class="footer">
        <div class="newsletter">
            <h1>NEWSLETTER</h1>
            <p class="pp">To recieve tips on how to grow your community, sign up to our weekly newsletter. We'll never 
                send you spam or pass on your email address</p>
            <input type="email" class="email">
            <input type="submit" name="" id="" class="submit" value="Subscribe">
        </div>
        <div class="contact">
            <img src="../../assets/logo.svg" alt="" class="logo-footer">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi deserunt commodi amet sit facilis excepturi!</p>
            <div class="phone">
                <img src="../../assets/icon-phone.svg" alt="">
                <p>Phone: +1-543-123-4567</p>
            </div>
            <div class="gmail">
                <img src="../../assets/icon-email.svg" alt="">
                <p>example@huddle.com</p>
            </div>
            <div class="socials">
                <img src="../../assets/square-facebook.svg" alt="">
                <img src="../../assets/instagram.svg" alt="">
                <img src="../../assets/square-twitter.svg" alt="">
            </div>
        </div>
    </div>
</div>